.Hero {
    background-color: var(--lemon-green);
    margin: 0 -2.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(min-content, max-content);
    justify-content: center;
    padding: 1rem;
}
.Hero article h1 {
    margin-bottom: 0rem;
    font-family: 'Markazi Text';
    font-weight: 500;
    color: var(--lemon-yellow);
    font-size: 4rem;
}
.Hero article h4 {
    color: white;
    font-family: 'Markazi Text';
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}
.Hero article p{
    max-width: 20rem;
    font-family: 'Karla';
    color: white;
    line-height: 2.5rem;
    font-size: 1.125rem;
    font-weight: 500;
}
.Hero article button{
    margin-top: 2rem;
}
.Hero figure {
    margin: 1rem 0rem 0rem 4rem;
    background-size: cover;
    max-height: 25rem;
    max-width: 25rem;
}
.Hero figure img {
    border-radius: var(--radius);
    width:100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 1000px){
    .Hero{
        grid-auto-flow: row;
        gap: 1rem;
    }
    .Hero figure {
        margin: 0
    }
}