header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-auto-columns: minmax(min-content, max-content);
    justify-content: center;
}
header figure {
    padding:1rem;
    margin: 0;
    max-width: 13rem;
}
@media only screen and (max-width: 1000px) {
    header {
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        justify-content: left;
    }
}